



.block {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: table-cell;
}

.bg-color1 {
    background-color: rgb(254, 255, 199)
}

.bg-color2 {
    background-color: rgb(254, 250, 199)
}

.border-top {
    border-top: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

.green {
    background-color: green;
}

.red {
    background-color: tomato;
    border: 1px tomato solid;
    border-radius: 70%;
}



