.block {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    display: table-cell;
}

.empty {
    background-color: unset;
}

.green {
    background-color: green;
}

.red {
    background-color: tomato;
    border: 1px tomato solid;
    border-radius: 70%;
}

.last {
    background-color: chartreuse;
}

