body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btnReset {
    width: 120px;
    height: 35px;
    margin: 20px 0 0 0 ;
}

.information-box {
    box-sizing: border-box;
    height: 40px;
}

.block {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: table-cell;
}

.bg-color1 {
    background-color: #FEFFC7
}

.bg-color2 {
    background-color: #FEFAC7
}

.border-top {
    border-top: 1px solid #828282;
}

.border-left {
    border-left: 1px solid #828282;
}

.border-bottom {
    border-bottom: 1px solid #828282;
}

.border-right {
    border-right: 1px solid #828282;
}

.green {
    background-color: green;
}

.red {
    background-color: tomato;
    border: 1px tomato solid;
    border-radius: 70%;
}



